{% extends 'account/main.html' %}

{% block content %}
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Transporteur</h5>
        </div>
        <div class="card card-body">
            <table class="table table-success table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">الاسم</th>
                        <th scope="col">الاسم العائلي </th>
                        <th scope="col">CNI</th>
                        <th scope="col">البريد الالكتروني</th>
                        <th scope="col">رقم الهاتف </th>
                        <th scope="col">وزن الحمولة</th>
                        <th scope="col">نوع الحمولة</th>
                        <th scope="col">من</th>
                        <th scope="col">إلى</th>
                    </tr>
                </thead>
                <tbody>

                    {% for i in transporteur %}
                    <tr>
                        <td>{{i.id}} </td>
                        <td>{{i.prenom}} </td>
                        <td>{{i.name}} </td>
                        <td>{{i.cni}} </td>
                        <td>{{i.email}} </td>
                        <td>{{i.phone_number}} </td>
                        <td>{{i.weight}}kg</td>
                        <td>{{i.type_colis}} </td>
                        <td>{{i.from_colis}} </td>
                        <td>{{i.to_colis}} </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}