{% extends 'account/main.html' %}

{% block content %}

<style>

</style>


<div id="content">

    <article id="post-899" class="post-899 page type-page status-publish hentry">

        <div class="container">

            <div class="vc_row wpb_row vc_row-fluid vc_custom_1449205477020">
                <div class="request_quote_page wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <h2 style="text-align: left" class="vc_custom_heading">Devis Transport</h2>
                            <div class="wpcf7 js" id="wpcf7-f208-p899-o1" lang="en-US" dir="ltr">
                                <div class="screen-reader-response">
                                    <p role="status" aria-live="polite" aria-atomic="true"></p>
                                    <ul></ul>
                                </div>
                                <form action="/e-services/demande-cotation-transport/#wpcf7-f208-p899-o1" method="post"
                                    class="wpcf7-form init" aria-label="Formulaire de contact" novalidate="novalidate"
                                    data-status="init">
                                    <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="208">
                                        <input type="hidden" name="_wpcf7_version" value="5.7.3">
                                        <input type="hidden" name="_wpcf7_locale" value="en_US">
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f208-p899-o1">
                                        <input type="hidden" name="_wpcf7_container_post" value="899">
                                        <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                                        <input type="hidden" name="_wpcf7_recaptcha_response"
                                            value="03AAYGu2QoWYmyF91A9LfOgs9Ai72OfEHDXEOWCInNAjJz-nY2srQeXsXbR2Eta0D3OyRYSKzTLpSaS7Yxj3XkI9-W4WI45GVsTGsRyyDYKgrDZUsuYrkgIs10V9zPisuLjEUTZ7eBfdf1SNgMZY1tBa7pFSby6q0503VdznVcNz0vAZPMChPwxisZQuVzgRAOgSke3L9RMT_wsWN_DPwzKyDgfY062KJPI6cDUZJ6P2WsKedz0nPECC7twwwxECeu8_mwcNXex_AsMW-68h6QNnNFx5PhcCp3jvo3hbnaUI-nY1kZXT6RwVzNz7BXN8bFIRJl2bVZjcwSVQQs2yI7zhDckkb6Ogt9ZwAvMXAKfhIWQ1UpwDludar16EdgcdcIdWBT9NRdxTwchkiuWgEBRiiopeDp7PdUwhkN1rOX-HjQgLdWGIR_9y5gstPwIydefSo65ZXdOkocH0GV5uVjAwZIoB6Ha5m3HpWGb4I11rtxwuLX26Y07ZjtCKf1cbTPW7m9NrADs9tgEaOYtB0CimCfaQoFd5NDPw">
                                    </div>
                                    <div class="request_quote">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group">
                                                    <p><span class="wpcf7-form-control-wrap" data-name="Nom"><input
                                                                size="40" class="wpcf7-form-control wpcf7-text"
                                                                aria-invalid="false" placeholder="Nom" value=""
                                                                type="text" name="Nom"></span>
                                                    </p>
                                                </div>
                                                <div class="input-group">
                                                    <p><span class="wpcf7-form-control-wrap"
                                                            data-name="Entreprise"><input size="40"
                                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                aria-required="true" aria-invalid="false"
                                                                placeholder="Entreprise" value="" type="text"
                                                                name="Entreprise"></span>
                                                    </p>
                                                </div>
                                                <div class="input-group">
                                                    <p><span class="wpcf7-form-control-wrap" data-name="Tel"><input
                                                                size="40"
                                                                class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel"
                                                                aria-invalid="false" placeholder="Téléphone" value=""
                                                                type="tel" name="Tel"></span>
                                                    </p>
                                                </div>
                                                <div class="input-group">
                                                    <p><span class="wpcf7-form-control-wrap"
                                                            data-name="Mode_transport"><select
                                                                class="wpcf7-form-control wpcf7-select select2-hidden-accessible"
                                                                aria-invalid="false" name="Mode_transport" tabindex="-1"
                                                                aria-hidden="true">
                                                                <option value="">Mode de transport</option>
                                                                <option value="Transport routier">Transport routier
                                                                </option>
                                                                <option value="Transport maritime">Transport maritime
                                                                </option>
                                                                <option value="Transport aérien">Transport aérien
                                                                </option>
                                                            </select><span
                                                                class="select2 select2-container select2-container--default"
                                                                dir="ltr" style="width: 100%;"><span
                                                                    class="selection"><span
                                                                        class="select2-selection select2-selection--single"
                                                                        role="combobox" aria-autocomplete="list"
                                                                        aria-haspopup="true" aria-expanded="false"
                                                                        tabindex="0"
                                                                        aria-labelledby="select2-Mode_transport-0y-container"><span
                                                                            class="select2-selection__rendered"
                                                                            id="select2-Mode_transport-0y-container"
                                                                            title="Mode de transport">Mode de
                                                                            transport</span><span
                                                                            class="select2-selection__arrow"
                                                                            role="presentation"><b
                                                                                role="presentation"></b></span></span></span><span
                                                                    class="dropdown-wrapper"
                                                                    aria-hidden="true"></span></span></span>
                                                    </p>
                                                </div>
                                                <div class="input-group">
                                                    <p><span class="wpcf7-form-control-wrap"
                                                            data-name="Lieu_enlevement"><input size="40"
                                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                aria-required="true" aria-invalid="false"
                                                                placeholder="Lieu d’enlèvement" value="" type="text"
                                                                name="Lieu_enlevement"></span>
                                                    </p>
                                                </div>
                                                <div class="input-group">
                                                    <p><span class="wpcf7-form-control-wrap"
                                                            data-name="dimension"><input size="40"
                                                                class="wpcf7-form-control wpcf7-text"
                                                                aria-invalid="false" placeholder="Dimension" value=""
                                                                type="text" name="dimension"></span>
                                                    </p>
                                                </div>
                                                <div class="input-group">
                                                    <p><span class="wpcf7-form-control-wrap"
                                                            data-name="Poids_marchandise"><input size="40"
                                                                class="wpcf7-form-control wpcf7-text"
                                                                aria-invalid="false"
                                                                placeholder="Poids de la marchandise" value=""
                                                                type="text" name="Poids_marchandise"></span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group">
                                                    <p><span class="wpcf7-form-control-wrap" data-name="email"><input
                                                                size="40"
                                                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                aria-required="true" aria-invalid="false"
                                                                placeholder="Email" value="" type="email"
                                                                name="email"></span>
                                                    </p>
                                                </div>
                                                <div class="input-group">
                                                    <p><span class="wpcf7-form-control-wrap"
                                                            data-name="incoterms"><select
                                                                class="wpcf7-form-control wpcf7-select select2-hidden-accessible"
                                                                aria-invalid="false" name="incoterms" tabindex="-1"
                                                                aria-hidden="true">
                                                                <option value="">Incoterms</option>
                                                                <option value="EXW">EXW</option>
                                                                <option value="FCA">FCA</option>
                                                                <option value="CPT">CPT</option>
                                                                <option value="CIP">CIP</option>
                                                                <option value="DAT">DAT</option>
                                                                <option value="DAP">DAP</option>
                                                                <option value="DDP">DDP</option>
                                                                <option value="FAS">FAS</option>
                                                                <option value="FOB">FOB</option>
                                                                <option value="CFR">CFR</option>
                                                                <option value="CIF">CIF</option>
                                                            </select><span
                                                                class="select2 select2-container select2-container--default"
                                                                dir="ltr" style="width: 100%;"><span
                                                                    class="selection"><span
                                                                        class="select2-selection select2-selection--single"
                                                                        role="combobox" aria-autocomplete="list"
                                                                        aria-haspopup="true" aria-expanded="false"
                                                                        tabindex="0"
                                                                        aria-labelledby="select2-incoterms-cx-container"><span
                                                                            class="select2-selection__rendered"
                                                                            id="select2-incoterms-cx-container"
                                                                            title="Incoterms">Incoterms</span><span
                                                                            class="select2-selection__arrow"
                                                                            role="presentation"><b
                                                                                role="presentation"></b></span></span></span><span
                                                                    class="dropdown-wrapper"
                                                                    aria-hidden="true"></span></span></span>
                                                    </p>
                                                </div>
                                                <div class="input-group">
                                                    <p><span class="wpcf7-form-control-wrap"
                                                            data-name="Lieu_dechargement"><input size="40"
                                                                class="wpcf7-form-control wpcf7-text"
                                                                aria-invalid="false" placeholder="Lieu de déchargement"
                                                                value="" type="text" name="Lieu_dechargement"></span>
                                                    </p>
                                                </div>
                                                <div class="input-group">
                                                    <p><span class="wpcf7-form-control-wrap"
                                                            data-name="message"><textarea cols="40" rows="10"
                                                                class="wpcf7-form-control wpcf7-textarea"
                                                                aria-invalid="false" placeholder="Message"
                                                                name="message"></textarea></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <p><button
                                                            class="button size-sm fullwidth white-text theme-wpcf7-submit">Envoyer
                                                            <i class="stm-arrow-next"></i></button>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpcf7-response-output" aria-hidden="true"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"
                class="vc_row wpb_row vc_row-fluid secondary_bg_color convert_to_table services_icons vc_custom_1449204239642 vc_row-no-padding"
                style="position: relative; left: 0px; box-sizing: border-box; width: 373px;">
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                    <div class="vc_column-inner vc_custom_1449204255225">
                        <div class="wpb_wrapper">
                            <div class="stm_icon center icon_position_top">
                                <div class="icon" style="font-size: 67px; height: 90px; color: #ffffff;">
                                    <i class="stm-security"></i>
                                </div>
                                <div class="icon_text">
                                    <div class="title" style="font-size: 22px; font-weight: 700; color: #ffffff;">
                                        SECURITÉ &amp; ASSURANCE </div>
                                    <div class="text" style="color: #ffffff;">
                                        <p>Nous nous engageons à acheminer vos marchandises en toute sécurité. En outre,
                                            nous disposons d’une solution d’assurance adaptée à vos besoins.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4 vc_col-has-fill">
                    <div class="vc_column-inner vc_custom_1449204260881">
                        <div class="wpb_wrapper">
                            <div class="stm_icon center icon_position_top">
                                <div class="icon" style="font-size: 67px; height: 90px; color: #ffffff;">
                                    <i class="stm-fast-delivery"></i>
                                </div>
                                <div class="icon_text">
                                    <div class="title" style="font-size: 22px; font-weight: 700; color: #ffffff;">
                                        INFORMATION RAPIDE </div>
                                    <div class="text" style="color: #ffffff;">
                                        <p>Notre équipe proactive vous fournit les informations relatives à vos
                                            opérations en temps réel, pour rester aux aguets.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4 vc_col-has-fill">
                    <div class="vc_column-inner vc_custom_1449204266169">
                        <div class="wpb_wrapper">
                            <div class="stm_icon center icon_position_top">
                                <div class="icon" style="font-size: 67px; height: 90px; color: #ffffff;">
                                    <i class="stm-support"></i>
                                </div>
                                <div class="icon_text">
                                    <div class="title" style="font-size: 22px; font-weight: 700; color: #ffffff;">
                                        24/7 SUPPORT </div>
                                    <div class="text" style="color: #ffffff;">
                                        <p>Notré équipe se tient à votre disposition 24/7, disponible pour répondre à
                                            toutes vos questions et solutioner le moindre de vos problèmes.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width"></div>
        </div>
        <!--.container-->

    </article> <!-- #post-## -->
</div>

{% endblock %}