{% extends "account/main.html" %}
{% load static %}
{% block content %}


<style>
    body {
        background-color: rgba(128, 128, 128, 0.386)
    }
</style>

<div class="container ">
    <main>
        <div class="row my-3 ">
            {% for msg in messages %}
            {% if 'success' == msg.tags %}
            <div class="alert alert-success alert-dismissible fade show d-flex justify-content-center" role="alert">
                {{msg}}<a href="tel:123-456-7890">0679399021 </a>
            </div>
            {% else %}
            <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-center " role="alert">
                {{msg}}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="row g-3 justify-content-center  my-3 ">
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3 text-center fs-2"> إستمارة تسجيل شركات نقل البضائع</h4>
                <form action="{% url 'signup' %}" method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">الاسم الأول</label>
                            <input type="text" class="form-control" name="prenom" id="firstName" placeholder="" value=""
                                required>
                            <div class="invalid-feedback">
                                يرجى إدخال اسم أول صحيح.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">اسم العائلة</label>
                            <input type="text" class="form-control" name="name" id="lastName" placeholder="" value=""
                                required>
                            <div class="invalid-feedback">
                                يرجى إدخال اسم عائلة صحيح.
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="address2" class="form-label"> رقم الهاتف</label>
                            <input type="text" class="form-control" name="phone_number" id="phoneNumber" placeholder=""
                                required>
                            <div class="invalid-feedback">
                                يرجى إدخال رقم الهاتف
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="email" class="form-label">البريد الإلكتروني </label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="you@example.com">
                                <div class="invalid-feedback">
                                    يرجى إدخال عنوان بريد إلكتروني صحيح .
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <label for="ICE" class="form-label">ICE</label>
                            <input type="text" class="form-control" name="ice" id="ICE" placeholder="" value=""
                                required>
                            <div class="invalid-feedback">
                                يرجى إدخال ICE صحيح.
                            </div>
                        </div>



                        <div class="col-md-6">
                            <label for="address" class="form-label">اسم الشركة</label>
                            <input type="text" class="form-control" name="company" id="" placeholder="" required>
                            <div class="invalid-feedback">
                                يرجى إدخال اسم الشركة.
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="address2" class="form-label"> المسير أو المكلف بالتسيير </label>
                            <input type="text" class="form-control" name="encadrement" id="" placeholder="" required>
                            <div class="invalid-feedback">
                                يرجى إدخال اسم المسير أو المكلف بالتسيير
                            </div>
                        </div>



                        <div class="col-md-6">
                            <label for="country" class="form-label">نوع النقل المتوفر لدى الشركة</label>
                            <select class="form-select" name="weight" id="weight" required>
                                <option value="">اختر...</option>
                                <option value="3.5t-baché">3.5t baché</option>
                                <option value="3.5t-plateau">3.5t plateau</option>
                                <option value="3.5t-plateau-ridal">3.5t plateau ridal</option>
                                <option value="3.5t-avec-grue">3.5t avec grue</option>
                                <option value="3.5t-fourgon">3.5t fourgon</option>
                                <option value="7.5t-baché">7.5t baché</option>
                                <option value="7.5t-plateau">7.5t plateau</option>
                                <option value="7.5t-plateau-ridal">7.5t plateau ridal</option>
                                <option value="7.5t-avec-grue">7.5t avec grue</option>
                                <option value="7.5t-fourgon">7.5t fourgon</option>
                                <option value="10t-baché">10t baché</option>
                                <option value="10t-plateau">10t plateau</option>
                                <option value="10t-plateau-ridal">10t plateau ridal</option>
                                <option value="10t-avec-grue">10t avec grue</option>
                                <option value="10t-fourgon">10t fourgon</option>
                                <option value="14t-baché">14t baché</option>
                                <option value="14t-plateau">14t plateau</option>
                                <option value="14t-plateau-ridal">14t plateau ridal</option>
                                <option value="14t-avec-grue">14t avec grue</option>
                                <option value="14t-fourgon">14t fourgon</option>
                                <option value="19t-baché">+19t baché</option>
                                <option value="19t-plateau">+19t plateau</option>
                                <option value="19t-plateau-ridal">+19t plateau ridal</option>
                                <option value="19t-avec-grue">+19t avec grue</option>
                                <option value="19t-fourgon">+19t fourgon</option>
                            </select>
                            <div class="invalid-feedback">
                                يرجى اختيار نوع النقل .
                            </div>
                        </div>

                    </div>
                    <button class="w-100 btn btn-primary btn-lg my-5" type="submit">تأكيد </button>
                </form>
            </div>
        </div>
    </main>

</div>
<!--
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100" style="padding-top: 0rem!important;">

            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center"> إستمارة تسجيل شركات نقل البضائع </h3>
                            <form>
                                <div class="row">
                                    <div class="row">
                                        {% for message in messages %}
                                        <div class="alert alert-success d-flex justify-content-center" role="alert">
                                            {{message}}<a href="tel:123-456-7890">0679399021 </a>

                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-6 ">

                                        <div class="form-outline">
                                            <input type="text" id="firstName" name="prenom"
                                                class="form-control form-control-lg" placeholder=" الاسم" />
                                            <label class="form-label" for="firstName"></label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="lastName" name="name"
                                                class="form-control form-control-lg" placeholder="اللقب" />
                                        </div>

                                    </div>

                                </div>
                                <div class="row">


                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="lastName" name="ice"
                                                class="form-control form-control-lg" placeholder=" ICE" />
                                        </div>

                                    </div>


                                    <div class="col-md-6 mb-4 pb-2">

                                        <div class="form-outline">
                                            <input type="email" id="emailAddress" name="email"
                                                class="form-control form-control-lg" placeholder=" بريدإلكتروني" />
                                        </div>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6 mb-2 pb-2">

                                        <div class="form-outline">
                                            <input type="text" id="from" name="company"
                                                class="form-control form-control-lg" placeholder="اسم الشركة" />
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-2 pb-2">

                                        <div class="form-outline">
                                            <input type="text" id="to" name="encadrement"
                                                class="form-control form-control-lg"
                                                placeholder=" المسير أو المكلف بالتسيير " />
                                        </div>

                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-6 mb-4 pb-2">

                                        <div class="form-outline">
                                            <input type="tel" id="phoneNumber" name="phone_number"
                                                class="form-control form-control-lg" placeholder="رقم الهاتف" />
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-2    pb-2">

                                        <div class="form-outline">
                                            <select class="form-select form-select-lg mb-3"
                                                aria-label="Default select example" name="weight">
                                                <option selected> نوع النقل المتوفر لدى الشركة </option>
                                                <option value="3.5t-baché">3.5t baché</option>
                                                <option value="3.5t-plateau">3.5t plateau</option>
                                                <option value="3.5t-plateau-ridal">3.5t plateau ridal</option>
                                                <option value="3.5t-avec-grue">3.5t avec grue</option>
                                                <option value="3.5t-fourgon">3.5t fourgon</option>
                                                <option value="7.5t-baché">7.5t baché</option>
                                                <option value="7.5t-plateau">7.5t plateau</option>
                                                <option value="7.5t-plateau-ridal">7.5t plateau ridal</option>
                                                <option value="7.5t-avec-grue">7.5t avec grue</option>
                                                <option value="7.5t-fourgon">7.5t fourgon</option>
                                                <option value="10t-baché">10t baché</option>
                                                <option value="10t-plateau">10t plateau</option>
                                                <option value="10t-plateau-ridal">10t plateau ridal</option>
                                                <option value="10t-avec-grue">10t avec grue</option>
                                                <option value="10t-fourgon">10t fourgon</option>
                                                <option value="14t-baché">14t baché</option>
                                                <option value="14t-plateau">14t plateau</option>
                                                <option value="14t-plateau-ridal">14t plateau ridal</option>
                                                <option value="14t-avec-grue">14t avec grue</option>
                                                <option value="14t-fourgon">14t fourgon</option>
                                                <option value="19t-baché">+19t baché</option>
                                                <option value="19t-plateau">+19t plateau</option>
                                                <option value="19t-plateau-ridal">+19t plateau ridal</option>
                                                <option value="19t-avec-grue">+19t avec grue</option>
                                                <option value="19t-fourgon">+19t fourgon</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>


                        </div>
                        <div class="mt-2 mb-3 pt-2 text-center">
                            <button class="btn btn-primary btn-lg" name="btnsignup" type="submit"
                                value="Submit">تأكيد</button>

                        </div>


                    </div>
                </div>
            </div>
        </div>
</div>
</section>
-->

{% endblock %}